.header{
    background-image: url('../../Assets/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 13vh;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleContainer h3{
    color: white;
    margin-left:6vw;
    font-weight: 400;
    font-size: 25px;
}

.buttonContainer{
    margin-right: 3vw;
    align-items: center;
    display: flex;
}

.login{
    width: 8vw;
    height: 4vh;
    font-size: 20px;
    border:2px solid white;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.register{
    width: 8vw;
    height: 4vh;
    font-size: 20px;
    color: #ED5353;
    margin-left: 5px;
    border:2px solid  white;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.userName{
    margin-left: 15px;
    color: white;
    font-size: 18px;
}

.logout{
    width: 8vw;
    height: 4vh;
    color: white;
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

span img{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}