
.main{
    display: flex;
}

.register{
    width:60vw ;
    height: 99vh;
}

.logoContainer{
    width: 40vw;
    height: 99vh;
    position: relative;
}

.logo{
    width: 40vw;
    height: 99vh;
    object-fit: cover; 
}

.header{
    position: absolute;
    color: white;
    font-size: 25px;
    left: 10vw;
    font-weight: 300;
}

.formContainer{
    width: 40vw;
    height: 80vh;
    margin-left: 10vw;
    margin-top: 10vh;
}

.formHeader h2{
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.inputs{
    margin-top: 3vh;
}

.input{
    width: 30vw;
    height: 5vh;
    outline: none;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 5px;
}

.inputContainer{
    margin-top: 3vh;
    margin-left: 1vw;
}

.inputContainer span{
    color: gray;
}

.signInButton {
    margin-top: 3vh;
    margin-left: 1vw;
    width: 20vw;
    height: 6vh;
    background-color: rgb(235, 69, 69);
    color:white;
    font-size: 18px;
    border: 1px solid rgb(247, 94, 94);
    border-radius: 10px;
    cursor: pointer;
}

.signIn{
    margin-left: 1vw;
    margin-top: 1vh;
}

.signIn span{
    color: gray;
}

.signIn span a{
    padding-left: 5px;
    color: rgb(37, 36, 36);
    cursor: pointer;
    text-decoration: underline;
}

.errorMessage{
    color: red;
    margin-left: 1vw;
}